/* .navbar-heading-text{
position: relative;
width: 211px;
height: 24px;
left: 0px;
top: 36px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 23px;
line-height: 24px;



}





background: linear-gradient(96.34deg, #E537B9 0%, #C040DF 100%);
border-radius: 4.5px;
}

.navbar{
    position: absolute;
width: 1322px;
height: 91px;
left: 59px;
top: 0px;

background: #FFFFFF;
}





border: 1px solid #E1E4E8;
}

.body-head{
width: 74px;
height: 32px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 32px;

color: #252B42;
}



.body-subhead{
width: 331px;
height: 28px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;



color: #858585;
} */


.rectangle-logo {
position: relative;
width: 27px;
height: 9px;
left: 1px;
top: 0px;
background: linear-gradient(96.34deg, #E537B9 0%, #C040DF 100%);
border-radius: 4.5px;
}

.accordion-button.collapsed::after {
    content: "\f058";
    color: green;
    font-weight: 400;
    font-family: "Font Awesome 5 Free";
    padding-right: 12px;
  }

  .dot{
    height:5px;
    width: 5px;
    position:relative;
    bottom: 2px;
    margin: 0px 5px;
    background: #586069;
    border-radius: 50%;
    display: inline-block;
  }

  img{
    padding-bottom: 20px;
  }

  .slide-heading-text{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #292B2E;
  }

  .author{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 13px;
  }

  .slide-desc{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;

  }

  .card{
    max-width: 1172px;
    max-height: 630px;
  }

  a:link{
    text-decoration: none;
     
  }

  a:visited{
    text-decoration: none;
     
  }

  a:hover{
    text-decoration: none;
  }

  a:active{
    text-decoration: none;
  }

  a p{
    color: black;
  }

  